.container-timecare {
  margin: 15px 0 0px 0;
  padding: 5px 30px 30px 30px;
  background-color: whitesmoke;
}

.k-state-selected {
  background-color: #7588b0 !important;
}

.k-pager-numbers .k-link.k-state-selected,
.k-pager-numbers .k-link:link.k-state-selected {
  color: #fff !important;
}
.k-pager-numbers .k-link,
.k-pager-numbers .k-link:link {
  color: #7588b0 !important;
}
